body {
    position: relatabive;
    background-color: #372294; /* Cor de fundo caso a imagem não carregue */
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh; /* Garante que cubra a tela inteira */
    overflow: hidden; /* Evita rolagem desnecessária */
    display:flex;
    align-items: center;
    justify-content: center;
    
}

    body::before {
        
        content: "";
        position: relative;
        left: -11;
        top: 0;
        width: 100%; height: 100%;
        background: url('assets/fundo.jpg')no-repeat center fixed; /* Teste se a camada aparece */
        background-size: cover;
        opacity: 0.25;
        z-index: -1; 

        
    }

    h1{

        text-align: center;
        font-family: "Press Start 2P", serif;
        font-weight: 768px;
        font-style: normal;
        font-size: 48px;
        color: #AAC5A9;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        position: absolute;
        left: 336px; 
        top: 0px;  

    }

    #player1 {

        text-align: center;
        font-family: "Press Start 2P", serif;
        font-weight: 288px;
        font-style: normal;
        font-size: 36px;
        color: #471EDA;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        position: absolute;
        left: 264px;  /* Eixo X: 100px da borda esquerda */
        top: 150px;    /* Eixo Y: 50px do topo */

    }

    #machine {

        text-align: center;
        font-family: "Press Start 2P", serif;
        font-weight: 252px;
        font-style: normal;
        font-size: 36px;
        color: #DA1E25;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        position: absolute;
        left: 906px; 
        top: 150px;  
        
    }

    #gon {
        
    }