body{
    background-image: url("../assets/fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0; /* Remove margens padrão */
    height: 100vh; /* Faz o body ocupar toda a tela */
}

h1 {

        text-align: center;
        font-family: "Press Start 2P", serif;
        font-weight: 672px;
        font-style: normal;
        font-size: 96px;
        color: #AAC5A9;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        position: absolute;
        left: 384px;  
        top: -40px;   

    }

    h2 {

        text-align: center;
        font-family: "Press Start 2P", serif;
        font-weight: 480px;
        font-style: normal;
        font-size: 48px;
        color: #AAC5A9;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        position: absolute;
        left: 480px;  /* Eixo X: 100px da borda esquerda */
        top: 200px;    /* Eixo Y: 50px do topo */

    }

    #p1 {
        
        text-align: center;
        font-family: "Press Start 2P", serif;
        font-weight: 288px;
        font-style: normal;
        font-size: 36px;
        color: #AAC5A9;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        position: absolute;
        left: 576px;  /* Eixo X: 100px da borda esquerda */
        top: 300px;    /* Eixo Y: 50px do topo */
        
    }

    #p2 {
    
        text-align: center;
        font-family: "Press Start 2P", serif;
        font-weight: 324px;
        font-style: normal;
        font-size: 36px;
        color: #AAC5A9;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        position: absolute;
        left: 558px;
        top: 360px;

        
    }

    #ex {
    
        text-align: center;
        font-family: "Press Start 2P", serif;
        font-weight: 144px;
        font-style: normal;
        font-size: 36px;
        color: #AAC5A9;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        position: absolute;
        left: 648px;
        top: 420px;
        
    }